name: Lint
on: [ push, pull_request ]

permissions:
  contents: read

jobs:
  lint:
    name: Cargo clippy & fmt
    runs-on: ubuntu-latest
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
      with:
        egress-policy: block
        allowed-endpoints: >
          archive.ubuntu.com:80
          azure.archive.ubuntu.com:80
          crates.io:443
          esm.ubuntu.com:443
          github.com:443
          index.crates.io:443
          motd.ubuntu.com:443
          ppa.launchpadcontent.net:443
          security.ubuntu.com:80
          static.crates.io:443
          static.rust-lang.org:443

    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

    - name: Setup Rust toolchain
      run: rustup show && rustup update

    - name: cargo fmt
      run: cargo fmt -- --check

    - name: cargo clippy
      run: cargo clippy --all-features --tests -- -D warnings

    - name: cargo test
      run: cargo test

  check-spdx-headers:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: enarx/spdx@b5bfdd4410071bf058c8333d0e70020001524b6b # master
        with:
          licenses: Apache-2.0
